@import '/public/fonts/pretendard_gov/pretendard-gov-dynamic-subset.css';
@import './normalize.css';

:root{
  --color-gray-50: #F4F5F6;
  --color-gray-75: #F0F1F2;
  --color-gray-100: #E6E8EA;
  --color-gray-150: #D9DDE0;
  --color-gray-200: #CDD1D5;
  --color-gray-300: #B2B8BE;
  --color-gray-400: #8A949E;
  --color-gray-500: #6D7882;
  --color-gray-600: #58616A;
  --color-gray-700: #464C53;
  --color-gray-800: #33363D;
  --color-gray-900: #1E2124;
  --color-gray-950: #131416; 
}

body{ font-family: "Pretendard GOV", sans-serif; overflow-x: hidden; }

a{ text-decoration: none; }

.section { 
  position:relative; width: 100%;
  >.dummy-full-img{
    width:100%; max-width: 1520px; position: relative; margin: 0 auto;
  }
}

/*------------------------*/

.app-sidenav-wrap{
  position:fixed; top:0; right:0; width: 68px; min-height:100vh;
  background-color: #F6F7F9; z-index: 9999; overflow:hidden;
  border-left: 1px solid #E0E4E8; transition: width 0.25s;
  >.sidenav-panel{
    position: absolute; width: 250px; height:100vh; display:flex; justify-content:center;
    padding: 24px 16px 0 16px; z-index:10;
    left: 0;
    >.sidenav-dummy-img{
      position: relative; max-width:100%; height: 728px;
    }
  }
}
.app-sidenav{
  position: absolute; top:0; right:0; width:68px; min-height: 100vh; z-index: 20;
  border-left: 1px solid #E0E4E8; background-color: #F6F7F9; transition: width 0.25s; 
  >.sidenav-inner{
    width:100%; display: flex; flex-direction: column; align-items: center;
    padding: 12px 4px;
    >.btn-side-toggle{
      width:44px; height:44px; cursor:pointer;
      display: flex; flex-direction: column; align-items: center; justify-content: center;
      transition: background-color 0.25s; border-radius: 6px;
      &:hover{
        background-color: #dbe0e3;
      }
    }
    >.btn-menus{
      width: 100%; padding-top: 16px;
      >.dummy-img{
        max-width:100%;
      }
    }
    >.btn-side-nav-guide{
     >img{ width: 56px; margin-top:4px;}
    }
    >.btn-side-nav-setting{
      position:absolute; bottom: 24px;
    }
  }
}
.side-toggle-close-svg{
  display:none;
}

.app-sidenav-wrap.active {
  width: 318px;
}
.app-sidenav-wrap.active .side-toggle-open-svg {
  display: none;
}
.app-sidenav-wrap.active .side-toggle-close-svg {
  display: block;
}

.app-sidenav-wrap.white{
  background-color: white;
  >.app-sidenav{
    background-color: white;
  }
}

/*------------------------*/

.app-main{
  position: relative; width:100%; max-width: calc(100% - 68px);
  transition: max-width 0.25s;
  &.sidenav-active{
    max-width: calc(100% - 318px);
  }
}
.app-header {
  position: absolute; width:100%; height: 68px; display:flex; justify-content:space-between;
  left:0; top:0; z-index: 1000;
  >.left-block{
    display:flex; align-items:center; height:100%; position: relative;
    >.logo-wrap{
      display:flex; width:148px; height:16px; margin: auto 0 auto 24px;
      >.logo{
      width:148px; height:16px;
      }
    }
    >.gnb-menu{
      display:flex; height:100%; align-items:center; position: relative;
      >.menu-item{
        height: 50px; display:flex; margin: auto 12px; padding: 0 4px;
        position: relative; transition: all 0.2s;
        >a{
          display:flex; align-items:center; font-size: 17px; font-weight: bold;
          color: var(--color-gray-500); text-align:center; width:100%; height:100%;
        }
        &::after{
          content:''; display:block; width:100%; position: absolute; height:3px; 
          transition: all 0.2s; bottom:6px; left:0; transform: scaleX(0);
        }
        &.active{
          >a{
            color: var(--color-gray-900);
          }
          &::after{
             content:''; display:block; width:100%; position: absolute;
             height:3px; background-color: var(--color-gray-900);
             bottom:6px; left:0;
             transform: scaleX(1);
          }
        }
        &:hover{
          >a{
            color: #0C5DFF;
          }
          &::after{
             content:''; display:block; width:100%; position: absolute;
             height:3px; background-color: #0C5DFF;
             bottom:6px; left:0; transform: scaleX(1);
          }
        }
      }
    }
  }
  .right-block{
    display:flex; height: 100%; align-items:center; margin-right: 14px;
    >.btn-util{
      width:48px; height: 48px; display:flex; justify-content:center; align-items:center;
    }
    >.btn-dcubot{
      width:108px; height: 44px; overflow:hidden; border-radius: 22px; position: relative;
      background-color:#0059FF; color:white; margin-left: 8px;
      >.character{
        width: 22px; height: 34px; position: absolute; left: 10px; top: 4px;
      }
      >.label{
        display:block; font-size: 13px; position: absolute; left: 37px; top: 14px;
        font-weight: bold;
      }
    }
  }
  &.white{
    >.left-block{
      >.gnb-menu{
        >.menu-item{
          >a{
            color:rgba(255,255,255,0.7);
          }
          &.active{
            >a{
              color:rgba(255,255,255,1);
            }
            &::after{
              background-color: white;
            }
          }
          &:hover{
            >a{
              color: white;
            }
            &::after{
              background-color: rgba(255,255,255,0.7);
            }
          }
        }
      }
    }
  } 
}

.bg-test{
  width: 800px; height: 600px;
  background-image: url(/src/assets/img/background_test.png);
}

/*------------------------------*/

.smart-search{
  width:100%; 
}

/* Mock up setting -------------*/

.mockup-body { width: 100%; background-color: #DBE0E3; }
.tablet-sample, .mobile-sample {
  width: 100%;
  background-color: #DBE0E3;
}
.mobile-back {
  position: absolute;
  width: 422px; height: 814px;
  margin: auto; left: 0; right: 0; top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  background-image: url(/img/iphone_frame_light_gray.png);
  background-size: 424px 814px;
  background-repeat: no-repeat;

  .screen-wrap {
    width: 376px; height: 780px;
    border: none;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
      position: absolute;
      width: 376px;
      height: 780px;
      top: 17px;
      left: 24px;
      border-radius: 43px; 
  }  
}

.mo-page {
  -ms-overflow-style: none; padding:0; margin:0;
  overflow: auto;
}

.mo-page::-webkit-scrollbar {
  width: 0px;
  display: none;
}

.mo-page::-webkit-scrollbar-track {
  display: none;
}

.mo-page::-webkit-scrollbar-thumb {
  display: none;
  background: rgb(0, 0, 0);
}

.mo-page.white {
  background-color: #fff;
}
.dummy-full{
  width:100%;  
}
.mo-wrap{
  position: relative; width:100%; padding-top: 40px; 
}

/* index page > Draft List -------------*/

.draft-index-body{
  width:100%; background-color:rgb(239, 243, 245);
  overflow-x: hidden;
}

.draft-index-page-wrap{
  width: 100%; display: flex; flex-direction: column; align-items: center;
  >.index-container{
    width:100%; max-width: 1200px; padding: 100px 40px;
    >.head-wrap{
      width: 100%; padding-bottom: 40px;
      >h1{
        font-size: 2.5vw;
      }
    }

    >.draft-block{
      width:100%; border-top: 1px solid #c9cdcf; margin-bottom: 40px;
      >.title-wrap{ 
        width:100%; padding: 16px 0 0 0;
        >h2{ font-size: 28px; margin: 12px 0;} 
      }
      >.links-wrap{
        width: 100%; display: flex; gap: 16px; padding: 20px 0;
        >.link-item{
          width: 50%; padding: 28px; text-align: center; display: flex; flex-direction: column;
          border: 1px solid rgb(197, 199, 202); background-color: white; border-radius: 12px;
          color: var(--color-gray-900); transition: filter 0.25s;
          max-height: 150px;
          >h4{ font-size: 22px; width:100%; padding:0; margin:12px 0 8px 0; }
          >p{ font-size: 18px; font-weight: 500; padding:0; margin:8px 0 12px 0;}
          &:hover{
            filter: drop-shadow(4px 4px 6px rgba(0,0,0,0.1));
          }
          &.blank{
            background-color: transparent; pointer-events: none;
          }
        }
        
      }
    }

  }
}