@import '/public/fonts/pretendard_gov/pretendard-gov-dynamic-subset.css';
@import './normalize.css';

:root{
  --color-gray-50: #F4F5F6;
  --color-gray-75: #F0F1F2;
  --color-gray-100: #E6E8EA;
  --color-gray-150: #D9DDE0;
  --color-gray-200: #CDD1D5;
  --color-gray-300: #B2B8BE;
  --color-gray-400: #8A949E;
  --color-gray-500: #6D7882;
  --color-gray-600: #58616A;
  --color-gray-700: #464C53;
  --color-gray-800: #33363D;
  --color-gray-900: #1E2124;
  --color-gray-950: #131416; 
}

body{
  font-family: "Pretendard GOV", sans-serif;
}
a{ text-decoration: none;}

.header {
  position: relative; width: 100%; height: 120px; left: 0; top: 0;
  display: flex; flex-direction: column;;
  >.util-bar{
    width: 100%; position: relative; padding: 0 40px; height: 40px;
    display: flex; align-items: center; justify-content: right;
    background-color: #F2F2F2; border-bottom: 1px solid #E2E2E2;
    >img{ max-width: 100%; height: 100%;}
  }
  >.gnb-bar{
    width: 100%; position: relative; height: 80px;
    display: flex; align-items: center; justify-content: center;
    >.inner{
      width:calc(100% - 120px); position: relative; margin: 0 auto; 
      display: flex; align-items: center; justify-content: center;
      >.logo{
        width: 170px; position: absolute; left: 0; top: 0;
        >img{ max-width: 100%; height: 100%;}
      }
      >.gnb-menu{
        width: 516px;
      }
      >.gnb-burger{
        width: 32px; position: absolute; right: 0; top: 6px;
      }
    } 
  }
  &.type-b{
    >.util-bar{
      background-color: white;
    }
  }
}

.footer {
  position: relative; width: 100%; background-color: var(--color-gray-900);

  >.footer-1, .footer-2 {
    display: flex; justify-content: center;
    >img { width: 1336px; }
  }
  >.footer-1{ padding: 12px 0; }
  >.footer-2 {
    padding: 40px 0 80px 0;
    border-top: 1px solid var(--color-gray-700);
  }
}

.bg-test{
  width: 800px; height: 600px;
  background-image: url(/src/assets/img/background_test.png);
}

/* Mock up setting -------------*/

.mockup-body { width: 100%; background-color: #DBE0E3; }
.tablet-sample, .mobile-sample {
  width: 100%;
  background-color: #DBE0E3;
}
.mobile-back {
  position: absolute;
  width: 422px; height: 814px;
  margin: auto; left: 0; right: 0; top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  background-image: url(/img/iphone_frame_light_gray.png);
  background-size: 424px 814px;
  background-repeat: no-repeat;

  .screen-wrap {
    width: 376px; height: 780px;
    border: none;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
      position: absolute;
      width: 376px;
      height: 780px;
      top: 17px;
      left: 24px;
      border-radius: 43px; 
  }  
}

.mo-page {
  -ms-overflow-style: none; padding:0; margin:0;
  overflow: auto;
}

.mo-page::-webkit-scrollbar {
  width: 0px;
  display: none;
}

.mo-page::-webkit-scrollbar-track {
  display: none;
}

.mo-page::-webkit-scrollbar-thumb {
  display: none;
  background: rgb(0, 0, 0);
}

.mo-page.white {
  background-color: #fff;
}
.dummy-full{
  width:100%;  
}
.mo-wrap{
  position: relative; width:100%; padding-top: 40px; 
}

/* index page > Draft List -------------*/

.draft-index-body{
  width:100%; background-color:rgb(239, 243, 245);
  overflow-x: hidden;
}

.draft-index-page-wrap{
  width: 100%; display: flex; flex-direction: column; align-items: center;
  >.index-container{
    width:100%; max-width: 1200px; padding: 100px 40px;
    >.head-wrap{
      width: 100%; padding-bottom: 40px;
      >h1{
        font-size: 2.5vw;
      }
    }

    >.draft-block{
      width:100%; border-top: 1px solid #c9cdcf; margin-bottom: 40px;
      >.title-wrap{ 
        width:100%; padding: 16px 0 0 0;
        >h2{ font-size: 28px; margin: 12px 0;} 
      }
      >.links-wrap{
        width: 100%; display: flex; gap: 16px; padding: 20px 0;
        >.link-item{
          width: 23%; padding: 28px; text-align: center; display: flex; flex-direction: column;
          border: 1px solid rgb(197, 199, 202); background-color: white; border-radius: 12px;
          color: var(--color-gray-900); transition: filter 0.25s;
          max-height: 150px;
          >h4{ font-size: 22px; width:100%; padding:0; margin:12px 0 8px 0; }
          >p{ font-size: 18px; font-weight: 500; padding:0; margin:8px 0 12px 0;}
          &:hover{
            filter: drop-shadow(4px 4px 6px rgba(0,0,0,0.1));
          }
          &.blank{
            background-color: transparent; pointer-events: none;
          }
        }
        
      }
    }

  }
}