
/*-------------------------*/

.section-hero{
  width:100%; display:flex; justify-content:center;
  padding: 150px 0 100px 0; gap: 22px; overflow:hidden;
  >.home-card{
    width: 492px;
    transform: translateX(100vw);
    animation-name: HomeCard1;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  >.home-card-1{
    animation-delay:0.1s;
  }
  >.home-card-2{  
    animation-delay:0.15s;
  }
  >.home-card-3{
    animation-delay:0.2s;
  }
}
@keyframes HomeCard1{
  0%{ transform: translateX(100vw); }
  100%{ transform: translateX(0); }
}

/*-------------------------*/

.section-schedule{
  width:100%; overflow:hidden;
  >.schedule-back{
    width:100%; height: 476px;
    background-size: 2560px 476px; background-position:center;
    background-image: url(/src/assets/img/type_b/schedule.png);
  }
}

/*-------------------------*/

.section-content{
  width:100%; display:flex; justify-content:center;
  padding: 120px 0 120px 0;
  >.dummy-full-img{
    width:100%; max-width: 1520px;
  }
}

/*-------------------------*/
.mo-wrap{
  >.hero-card-wrap{
    width:100%; padding: 0 16px; display:flex;
    flex-direction:column; overflow:hidden; 
    >.home-card-mo{
      width:100%; padding: 8px 0;
      &.card-3{
        z-index:5;
      }
    }
  }
}
