body {
  overflow-x: hidden;
}

.footer {
  width: 100%; background-color: var(--color-gray-900);

  >.footer-1, .footer-2 {
    display: flex; justify-content: center;
    >img { width: 1336px; }
  }
  >.footer-1{ padding: 12px 0; }
  >.footer-2 {
    padding: 40px 0 80px 0;
    border-top: 1px solid var(--color-gray-700);
  }
}

.container {
  width: 100%;
  max-width: 1336px;
  position: relative;
  margin: 0 auto;
}
/* Home --------------------*/

.section-hero{
 width: 100%; height:746px; position: relative; overflow: hidden; 
 >.inner-canvas{
  width: calc(100% - 120px); height:746px; position: relative; overflow: hidden;
  margin: 0 auto; border-radius: 2.5vw;
  background-position: center;
  background-image: url('/img/type_a/hero_back.png');
 }
}
.hero-title-wrap{
  width: 100%; max-width: 508px; height: 348px; position: absolute;
  margin: auto; left: 0; right: 0; top: 110px;
  display: flex; flex-direction: column; align-items: center;
  >.hero-headline{ width: 468px; }
  >.hero-copy{
    width: 506px; position: absolute; bottom:6px;
    animation-delay: 0.2s;
  }
  .hero-headline, .hero-copy{
    animation: headlineReveal 1s ease-in-out forwards;
    animation-iteration-count: 1;  
  }
}
@keyframes headlineReveal {
  from { transform: translateY(-200%); }
  to { transform: translateY(0); }
}
.active-item {
  position: absolute;
  &.item-1{
    width: 110px; top: -100%; left: calc(50% - 400px);
  }
  &.item-2{
    width: 82px; top: -100%; right: calc(50% - 390px);
  } 
}

.collsion-item{
  position: absolute; bottom: 80px;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
  /* animation-name: collsion-item; */
  &.item-1{
    left: calc(50% - 500px);
  }
  &.item-2{
    left: calc(50% + 140px);
  }
  &.item-3{
    right: calc(50% - 500px);
  }
}
@keyframes collsion-item {
  from { bottom: -100%; }
  to { bottom: 80px; }
}

/* Mario ---------------------------*/

#mario {
    z-index: 1;
    width: 215px;
    height: 215px;
    background: 0px 0px / 1290px auto no-repeat;
    background-image: url("/img/type_a/motion_run_2.png");
    animation: run clamp(0.25s, calc((5 - (1 / 2000)) * 0.1s), 1.2s) steps(5, start) infinite;
    animation-delay: 1s;
    position: absolute;
    left: calc(50% - 100px);
    top: 460px;
    transform-origin: 90px 50%;
}
@keyframes run {
  from {
    background-position: 0px 0px;
  }

  to {
    background-position: -1075px 0px;
  }
}

/*-------------------------*/

.section {
  position: relative;
  width: 100%;
  overflow-x: hidden;

  >.content-full {
    width: 100%; max-width: 1478px; position: relative; margin: 0 auto;
  }
}

.section-2{
  padding-top: 48px; padding-bottom: 160px;
}
.section-spacing{
  display: block; width:100%; height: 50vh;
}

.section-3{
  position: relative; width:100%; min-height: 1700px; margin-top: 100px;
  padding-top: 300px;
  background-color: white;
  >.cards-wrap{
    width:100%; height:100%; position: relative;
  }
}

.card-full-pict{
  position: absolute; z-index: 5; overflow: hidden;
  width: 100%; height: 100vh; top:-300px; left:0; border-radius: 0;
  >.full-pict{
    width:100%; height: 100%; object-fit: cover;
  }
  >.full-pict-overlay{
    display: block; width:100%; height:100%; position: absolute; left:0; bottom:0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.3) 80%);
  }
  >.full-pict-big-title{
    position: absolute; color:white; width:100%; 
    top:50%; transform: translateY(-50%);
    >span{
      display: block; width:100%; overflow: hidden;
      >.full-pict-big-title-text{
        display: block; width:100%; font-size: 4vw; font-weight: 700; text-align: center;
      }
    }
  }
  >.full-pict-title{
    position: absolute; color:white; width:100%; overflow: hidden;
    bottom: 32px; left: 32px;
    >.title-text{
      display: block; width:100%; font-size: 44px; font-weight: 700;
      transform: translateY(100%);
    }    
  }
}

.card-red-one{
  width:272px; aspect-ratio: 1/1; position: absolute;
  background-color: #E11D48; color:white;
  background-size: cover; background-position: center;
  overflow: hidden; border-radius: 20px;
  &.red-one-1{
    top: 0px; left: calc(50% + 140px);
    background-image: url('/img/type_a/home_red_1.png');
  }
  &.red-one-2{
    top: 662px; left: calc(50% - 574px);
    background-image: url('/img/type_a/home_red_2.png');
  }
  &.red-one-3{
    top: 772px; left: calc(50% + 140px);
    background-image: url('/img/type_a/home_red_3.png');
  }
}

.card-pict{
  position: absolute; overflow: hidden; border-radius: 20px;
  >img{
    width:100%; height: 100%; object-fit: cover;
  }
  &.card-pict-2{
    width: 596px; height: 452px; top: 296px; right:calc(50% - 738px);  
  }
  &.card-pict-3{
    width: 396px; height: 490px; top: 662px; right:calc(50% - 118px);  
  }
}

/*-------------------------*/

.campaign-main {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}